$centrar: center;
$absoluto: absolute;
$relativo: relative;
$total: 100%;
$rosa: #f04a54;
$blanco: white;
$letra:40px;
$vacio:0;
/*----------------------------- Generales -----------------------------*/
*{text-align: $centrar;}
section{position: $absoluto; width: $total; height: $total; top: $vacio; left: $vacio; display: none; opacity: $vacio;}
.visible{opacity:1; display: table;}
.content{display:table-cell; vertical-align: middle;}

/*----------------------------- Header -----------------------------*/
header{
    position: $relativo; 
    z-index:100;
    .navbar-inverse .navbar-nav>li>a{
        color: $blanco;
    }
    .icon-menu{
        border-radius: $total;
        background: $rosa; 
        padding: 7px;
    }
    span{
        font-size: 25px;
    }
    li:hover{
        background: $rosa; 
        font-size: 20px;
    }
}
/*----------------------------- Sección inicio -----------------------------*/
#inicio{
    color: $blanco;
    background-image: url(../image/banner.jpg);
    .icon-buttom{
        font-size: $letra;
        border-radius: $total;
        background: $rosa; 
        padding: 15px;
        position: $relativo;
        bottom: -100px;
    }
}
/*----------------------------- Sección inicio -----------------------------*/
#about-me{
    img{
        margin: auto;
    }
    span{
        font-size: $letra; 
        color: $blanco; 
        background: $rosa;
        padding: 10px; 
        border-radius: $total;
    }
}
/*----------------------------- @media -----------------------------*/
@media screen and (max-width:768px){
    header{
        span{
            display: none;
        }
        img{
            width: 240px;
        }
    }
}