@charset "UTF-8";
/*----------------------------- Generales -----------------------------*/
* {
  text-align: center;
  font-family: 'Kurale', serif;
  box-sizing: border-box; }

section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none; }

.visible {
  display: table; }

.content {
  display: table-cell;
  vertical-align: middle; }

.margin {
  margin-top: 5%; }

.margin2 {
  margin-top: 13%; }

h2 {
  font-size: 38px; }

.sombra {
  background: rgba(0, 0, 0, 0.67);
  height: 100%;
  width: 100%;
  padding: 15px 0; }

.icon-buttom {
  font-size: 28px;
  border-radius: 100%;
  background: #f04a54;
  padding: 13px; }

/*----------------------------- Header -----------------------------*/
header {
  display: none;
  position: relative;
  z-index: 100; }
  header span {
    font-size: 20px; }
  header .navbar-inverse .navbar-nav > li > a {
    color: white; }
  header .icon-menu {
    border-radius: 100%;
    background: #f04a54;
    padding: 8px; }
  header img {
    margin: 3%; }
  header li:hover {
    background: #f04a54; }

/*----------------------------- Secci├│n inicio -----------------------------*/
#inicio {
  background: url(../image/contact3.gif);
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  #inicio h1 {
    font-size: 80px; }
  #inicio h3 {
    font-size: 38px; }
  #inicio .icon-buttom {
    font-size: 38px;
    position: relative;
    bottom: -90px; }

/*----------------------------- Secci├│n About-Me -----------------------------*/
#about-me {
  background-image: url(../image/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 20px; }
  #about-me img {
    margin: auto;
    width: 380px;
    height: 450px;
    border-radius: 50px; }
  #about-me .right, #about-me .left {
    background: rgba(255, 255, 255, 0); }

/*----------------------------- Secci├│n Skills -----------------------------*/
#skills {
  background: url(../image/skills3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  #skills .cuadro {
    width: 160px;
    height: 190px;
    margin: 20px;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.58);
    border-radius: 20px;
    display: inline-block; }
  #skills img {
    width: 50px;
    height: 60px;
    margin: 20px auto; }
  #skills .myProgress {
    width: 70%;
    height: 10px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 50px;
    margin: auto; }
  #skills .myBar {
    background-color: #f04a54;
    width: 15px;
    height: 10px;
    position: absolute;
    border-radius: 100px;
    transition: all 3s; }

/*----------------------------- Secci├│n Proyects -----------------------------*/
#proyects {
  background: url(../image/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  #proyects .margenes {
    margin-top: 30px; }

/*----------------------------- Secci├│n Contact Me -----------------------------*/
#contact-me {
  background: url(../image/contact3.gif);
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  #contact-me span {
    box-sizing: border-box;
    font-size: 45px;
    color: black;
    background: white;
    padding: 20px;
    margin: 50px;
    border-radius: 100%; }
  #contact-me p {
    margin-top: 30px; }
  #contact-me .button {
    width: 180px;
    padding: 10px;
    margin: 5% auto;
    background: #f04a54;
    border-radius: 20px;
    font-size: 25px; }
    #contact-me .button:hover {
      background: white;
      color: #f04a54; }

/*----------------------------- @media -----------------------------*/
@media screen and (max-width: 768px) {
  .margin {
    margin-top: 15%; }

  .margin2 {
    margin-top: 30%; }

  header img {
    position: absolute;
    left: 2%; }
  header .logo {
    width: 200px; }

  #inicio h1 {
    font-size: 30px; }
  #inicio h3 {
    font-size: 20px; }
  #inicio .icon-buttom {
    font-size: 20px; }

  #about-me p {
    font-size: 15px; }

  #skills .cuadro {
    width: 120px; }

  #contact-me span {
    font-size: 30px;
    padding: 15px;
    margin: 10px; } }

/*# sourceMappingURL=main.css.map */
