$colorPrincipal: #f04a54;
$colorSecundario: white;
$letraGrande: 40px;
$letraMediana: 20px;
$centrar: center;
$absoluto: absolute;
$relativo: relative;
$porcentaje: 100%;
$vacio:0;

/*----------------------------- Generales -----------------------------*/
*{text-align: $centrar; font-family: 'Kurale', serif;}
section{position: $absoluto; width: $porcentaje; height: $porcentaje; top: $vacio; left: $vacio; display: none; opacity: $vacio;}
.visible{opacity:1; display: table;}
.content{display:table-cell; vertical-align: middle;}
.margin{margin-top: 10%;}
h2{font-size: $letraGrande;}

/*----------------------------- Header -----------------------------*/
header{
    position: $relativo; 
    z-index:100;
    .navbar-inverse .navbar-nav>li>a{
        color: $colorSecundario;
    }
    .icon-menu{
        border-radius: $porcentaje;
        background: $colorPrincipal; 
        padding: 5px;
        font-size: $letraMediana;
    }
    span{
        font-size: 25px;
    }
    li:hover{
        background: $colorPrincipal; 
        font-size: $letraMediana;
    }
}
/*----------------------------- Sección inicio -----------------------------*/
#inicio{
    color: $colorSecundario;
    background-image: url(../image/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h1{font-size: 80px;}
    h3{font-size: $letraGrande;}
    .icon-buttom{
        font-size: $letraGrande;
        border-radius: $porcentaje;
        background: $colorPrincipal; 
        padding: 15px;
        position: $relativo;
        bottom: -90px;
    }
}
/*----------------------------- Sección About-Me -----------------------------*/
#about-me{
    img{ margin: auto;}
    .right, .left{background: rgba(255, 255, 255, 0);}
    span{
        font-size: $letraGrande; 
        color: $colorSecundario; 
        background: $colorPrincipal;
        padding: 10px; 
        border-radius: $porcentaje;
    }
}
/*----------------------------- Sección Skills -----------------------------*/
#skills{
    background-image: url(../image/skills3.jpeg);
    background-size: cover;
    color: $colorSecundario;
    .cuadro-skills{
        background: rgba(0, 0, 0, 0.76);
        width: $porcentaje;
        height: $porcentaje;
    }
    .cuadro{
        width: 160px; 
        height: 190px; 
        margin: 20px auto; 
        border: 2px solid $colorPrincipal; 
        background: rgba(0, 0, 0, 0.58); 
        border-radius: 20px;
    }
    img{
        width: 50px;
        height: 60px;
        margin: 20px auto;
    }
    .myProgress{
    width: 70%;
    height: 10px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 50px;
    margin: auto;
    }
    .myBar{
    background-color: $colorPrincipal;
    width: 15px;
    height: 10px;
    position: absolute;
    border-radius: 100px;
    transition: all 1s;
    }
}
/*----------------------------- Sección Proyects -----------------------------*/

/*----------------------------- @media -----------------------------*/
@media screen and (max-width:768px){
    .margin{
        margin-top: 25%;
    }
    header{
        img{
            width: 200px; 
            margin-top: 1%; 
            position: absolute; 
            left: 2%;}
    }
    #inicio{
        h1{
            font-size: 35px;
        }
        h3{
            font-size: $letraMediana;
        }
    }
    #skills{
        .cuadro{
            width: 120px;
        }
    }
}