$colorPrincipal: #f04a54;
$colorSecundario: white;
$letraGrande: 38px;
$letraMediana: 20px;
$centrar: center;
$absoluto: absolute;
$relativo: relative;
$porcentaje: 100%;
$vacio:0;

/*----------------------------- Generales -----------------------------*/
*{text-align: $centrar; font-family: 'Kurale', serif; box-sizing: border-box;}
section{position: $absoluto; width: $porcentaje; height: $porcentaje; display: none; opacity: $vacio;}
.visible{opacity:1; display: table;}
.content{display:table-cell; vertical-align: middle;}
.margin{margin-top: 5%;}
.margin2{margin-top: 13%;}
h2{font-size: $letraGrande;}
.logo, .logo2{display: none;}
.sombra{background: rgba(0, 0, 0, 0.67); height: $porcentaje; width: $porcentaje; padding: 15px 0;}
.icon-buttom{
        font-size: 28px;
        border-radius: $porcentaje;
        background: $colorPrincipal; 
        padding: 13px;
}
/*----------------------------- Header -----------------------------*/
header{
    position: $relativo; 
    z-index:100;
    .navbar-inverse .navbar-nav>li>a{
        color: $colorSecundario;
    }
    span{
        font-size: $letraMediana;
    }
    .icon-menu{
        font-size: $letraMediana;
        border-radius: $porcentaje;
        background: $colorPrincipal; 
        padding: 8px;
    }
    img{margin: 2%;}
    li:hover{
        background: $colorPrincipal;
    }
}
/*----------------------------- Sección inicio -----------------------------*/
#inicio{
    color: $colorSecundario;
    background-image: url(../image/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h1{font-size: 80px;}
    h3{font-size: $letraGrande;}
    .icon-buttom {
        font-size: 45px;
        position: relative;
        bottom: -100px;
    }
}
/*----------------------------- Sección About-Me -----------------------------*/
#about-me{
    background-image: url(../image/aboutme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: $letraMediana;
    img{ margin: auto; width: 380px; height: 450px;}
    .right, .left{background: rgba(255, 255, 255, 0);}
    .carousel{
        border: 1px solid $colorPrincipal;
    }
}
/*----------------------------- Sección Skills -----------------------------*/
#skills{
    background-image: url(../image/skills3.jpeg);
    background-size: cover;
    color: $colorSecundario;
    .cuadro{
        width: 160px; 
        height: 190px; 
        margin: 20px auto; 
        border: 2px solid black; 
        background: rgba(0, 0, 0, 0.58); 
        border-radius: 20px;
    }
    img{
        width: 50px;
        height: 60px;
        margin: 20px auto;
    }
    .myProgress{
    width: 70%;
    height: 10px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 50px;
    margin: auto;
    }
    .myBar{
    background-color: $colorPrincipal;
    width: 15px;
    height: 10px;
    position: absolute;
    border-radius: 100px;
    transition: all 1s;
    }
}
/*----------------------------- Sección Proyects -----------------------------*/
#proyects{
    background-image: url(../image/aboutme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: $colorSecundario;
    .margenes{
        margin-top: 30px;
    }
}  
/*----------------------------- Sección Contact Me -----------------------------*/
#contact-me{
    background-image: url(../image/contact3.gif);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    span{
        box-sizing: border-box;
        font-size: 45px; 
        color: black; 
        background: white;
        padding: 20px;
        margin:  50px;
        border-radius: $porcentaje;
    }
    p{margin-top: 30px;}
    .button{ 
        width: 180px;
        padding: 10px;
        margin: auto;
        background: $colorPrincipal;
        border-radius: 20px; 
        font-size: 25px;
        &:hover{
            background: $colorSecundario;
            color: $colorPrincipal;
        }
    }
}
/*----------------------------- @media -----------------------------*/
@media screen and (max-width:768px){
    .margin{
        margin-top: 15%;
    }
    .margin2{
        margin-top: 30%;
    }
    header{
        img{
            position: absolute; 
            left: 2%;}
        }
    .logo2{
        width: 50px;
    }
    .logo{
        width: 200px;
    }
    #inicio{
        h1{
            font-size: 35px;
        }
        h3{
            font-size: $letraMediana;
        }
        .icon-buttom{
            font-size: 25px;
        }
    }
    #skills{
        .cuadro{
            width: 120px;
        }
    }
    #contact-me{
        span{
            font-size: 30px;
            padding: 15px;
            margin: 10px;
        }
    }
}