/*----------------------------- Generales -----------------------------*/
*{
    text-align: $centrar; 
    font-family: 'Kurale', serif; 
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
section{
    position: $absoluto; 
    width: $porcentaje; 
    height: $porcentaje; 
    display: none;
}
.visible{
    display: table;
}
.content{
    display:table-cell;
    vertical-align: middle;
}
.margin{
    margin-top: 5%;
}
.margin2{
    margin-top: 13%;
}
h2{
    font-size: $letraGrande;
}
.sombra{
    background: rgba(0, 0, 0, 0.67);
    height: $porcentaje; 
    width: $porcentaje;
    padding: 15px 0;
}
.icon-buttom{
        font-size: $letraMediana + 8px;
        border-radius: $porcentaje;
        background: $colorPrincipal; 
        padding: 13px;
}