/*----------------------------- Sección Skills -----------------------------*/
#skills{
    background-image: (url(../image/skills3.jpeg));
    background-size: cover;
    color: $colorSecundario;
    .cuadro{
        width: 160px; 
        height: 190px; 
        margin: 20px; 
        border: 2px solid black; 
        background: rgba(0, 0, 0, 0.58); 
        border-radius: 20px;
        display: inline-block;
    }
    img{
        width: 50px;
        height: 60px;
        margin: 20px auto;
    }
    .myProgress{
    width: 70%;
    height: 10px;
    position: $relativo;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 50px;
    margin: auto;
    }
    .myBar{
    background-color: $colorPrincipal;
    width: 15px;
    height: 10px;
    position: $absoluto;
    border-radius: 100px;
    transition: all 3s;
    }
}