/*----------------------------- Sección inicio -----------------------------*/
#inicio{
    color: $colorSecundario;
    @include background(url(../image/api.png));
    h1{
        font-size: 80px;
    }
    h3{
        font-size: $letraGrande;
    }
    .icon-buttom{
        font-size: $letraMediana;
        position: $relativo;
        bottom: -100px;
    }
}