/*----------------------------- Sección inicio -----------------------------*/
#inicio{
    @include background(url(../image/contact3.gif));
    color: $colorSecundario;

    h1{
        font-size: 80px;
    }
    h3{
        font-size: $letraGrande;
    }
    .icon-buttom{
        font-size: $letraGrande; 
        position: $relativo;
        bottom: -90px;
    }
}