/*----------------------------- Sección Proyects -----------------------------*/
#proyects{
    background-image: (url(../image/banner.jpg));
    background-size: cover;
    background-repeat: no-repeat;
    color: $colorSecundario;
.margenes{
        margin-top: 30px;
    }
}